extends ../layouts/default


block content
 .row
 h1 Seguridad social en Colombia.
 div
 p En Colombia, la Seguridad Social, a partir de la creación y entrada en vigencia de la Constitución Política de 1991, es considerado un derecho fundamental y por ende irrenunciable, ya que el artículo 48 y 49 constitucional, además de preveerlo en la categoría indicada, lo definen como un derecho a cargo del Estado.
 br 
 p respecto, la Constitución Política de 1991 indica:
 
 p <b>Artículo 48.</b> La Seguridad Social es un servicio público de carácter obligatorio que se prestará bajo la dirección, coordinación y control del Estado, en sujeción a los principios de eficiencia, universalidad y solidaridad, en los términos que establezca la Ley. Se garantiza a todos los habitantes el derecho irrenunciable a la Seguridad Social. El Estado, con la participación de los particulares, ampliará progresivamente la cobertura de la Seguridad Social que comprenderá la prestación de los servicios en forma que determine la Ley.
 p La Seguridad Social podrá ser prestada por entidades públicas o privadas, de conformidad con la ley. No se podrán destinar ni utilizar los recursos de las instituciones de la Seguridad Social para fines diferentes a ella.
 br
 p <b>Artículo 49.</b> La atención de la salud y el saneamiento ambiental son servicios públicos a cargo del Estado. Se garantiza a todas las personas el acceso a los servicios de promoción, protección y recuperación de la salud. Corresponde al Estado organizar, dirigir y reglamentar la prestación de servicios de salud a los habitantes y de saneamiento ambiental conforme a los principios de eficiencia, universalidad y solidaridad. También, establece las políticas para la prestación de servicios de salud por entidades privadas, y ejercer su vigilancia y control. Así mismo, establecer las competencias de la Nación, las entidades territoriales y los particulares, y determinar los aportes a su cargo en los términos y condiciones señalados en la ley.
 p Los servicios de salud se organizarán en forma descentralizada, por niveles de atención n y con participación de la comunidad. La ley señalará los términos en los cuales la atención básica para todos los habit- antes será gratuita y obligatoria. Toda persona tiene el deber de procurar el cuidado integral de su salud y la de su comunidad.
 p La ley definirá los medios para que los recursos destinados a pensiones mantengan su poder adquisitivo constante. Por su parte, la Corte Constitucional, dentro de su actividad jurisdiccional, ha sos- tenido en nutrida sentencia que la Seguridad Social es en Colombia
 h2 Principios
 .row
  .col-md-6
   img(src="./images/contenido/p1.png", alt="",style="width: 100%;" )
  .col-md-6
   img(src="./images/contenido/p2.png", alt="",style="width: 100%;" )
 br
 .row
  .col-md-6
   img(src="./images/contenido/p3.png", alt="",style="width: 100%;" )
  .col-md-6
   img(src="./images/contenido/p4.png", alt="",style="width: 100%;" )
 br
 .row
  div(class="col-md-6" style="float: none;margin: 0 auto;")
   img(src="./images/contenido/p4.png", alt="",style="width: 100%;" )